@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627955313955') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--:before {
  content: "\e624";
}

.icon-icon-diankadingdanchaxun:before {
  content: "\e612";
}

.icon-icon-huichang:before {
  content: "\e613";
}

.icon-icon-huichangchongzhijilu:before {
  content: "\e614";
}

.icon-icon-shoudongtiaozheng:before {
  content: "\e615";
}

.icon-icon-zhuceguanli:before {
  content: "\e616";
}

